.footer-component {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left-footer {
    display: flex;
    flex-direction: row;

    .new-student-wrapper {
      margin-right: 30px;
    }

    .button {
      margin: 10px 0 0 10px;
    }
  }

  .save-btn {
    margin-top: 3px;
    margin-left: 20px;
  }
}